<h1>Todo of The Day<h1/>

<div class="main-content">
<h1>June 3, 2017</h1>

<p>Let's do some math</p>
4 * 3 = <%= 4*3 %>

<p2> <%= @todo_description %></p2>
<span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo_promodoro_estimate %> Pomodoros</span>
<body>
    
<ul class="todo-list">
  <h2>Workshop Todo List</h2>
  <li><input type="checkbox"/><a href="/todo/show/1">Make the curriculum</a> <span>4</span></li>
  <li><input type="checkbox"/><a href="/todo/show/2">Buy workshop supplies</a> <span>3</span></li>
  <li><input type="checkbox"/><a href="/todo/show/3">Meet with the volunteer trainers</a> <span>2</span></li>
  <li><input type="checkbox"/><a href="/todo/show/4">Order food for Saturday and Sunday</a> <span>1</span></li>
  <li><input type="checkbox"/><a href="/todo/show/5">Check pre-work assignments</a> <span>2</span></li>
  <li><input type="checkbox"/><a href="/todo/show/6">Send workshop location to all the students</a> <span>1</span></li>
  <li><input type="checkbox"/><a href="/todo/show/7">Have a great workshop</a> <span>0</span></li>
</ul>

<hr/>

<form method="get">
<input type="text" placeholder="Add a todo...">
<input type="number" placeholder="Pomodoro estimate...">
<input type="submit" class="button"></form>
</div>

</body>